html {
  max-width: 87.5rem;
  height: 68.563rem;
  margin: 0 2.5rem 4.063rem 0;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: var(--white);
}

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 5.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: var(--white-two);
  margin-right: 1rem;
  box-sizing: border-box;
}

.books {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  transition: color 0.3s ease; /* Agregado */
}

.books:hover {
  color: #0290ff; /* Ajusta el color para obtener el efecto deseado */
}

.categories {
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.homepage-container {
  width: 100%;
  height: 68.563rem;
  margin: 0 2.5rem 4.063rem 0;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: var(--white);
}

.Bookstore-CMS {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.books-display {
  width: 75rem;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px var(--white-three);
  background-color: var(--white-two);
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinear verticalmente los elementos */
  width: 100%;
  height: 5.938rem;
  padding: 1.813rem 1.188rem;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
  box-sizing: border-box;
}

.form-input-title {
  flex: 1; /* Ocupará 1/3 del espacio total */
  height: 2.813rem;
  width: 45%;
  padding: 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px var(--white-three);
  background-color: var(--white-two);
}

form {
  width: 100%;
}

.form-input-author {
  flex: 1; /* Ocupará 1/3 del espacio total */
  height: 2.813rem;
  width: 30%;
  padding: 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px var(--white-three);
  background-color: var(--white-two);
  color: #888;
}

.form-submit-button {
  flex: 1; /* Ocupará 1/3 del espacio total */
  height: 2.813rem;
  width: 15%;
  padding: 0.801rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  color: white;
}

.book-card {
  width: 92%;
  height: 10.625rem;
  margin: 2.313rem auto 0;
  align-items: center; /* Alinear verticalmente los elementos */
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px var(--white-three);
  background-color: var(--white-two);
  box-sizing: border-box;
}

.book-title-label {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-author-label {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #9ba9b5;
}

.delete-button {
  width: 3.375rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  border: none; /* Agregado */
  background-color: transparent; /* Agregado */
  transition: color 0.3s ease; /* Agregado */
}

.delete-button,
.comments-button,
.edit-button {
  margin-bottom: 500px;
  border: none; /* Agregado */
  background-color: transparent; /* Agregado */
  color: #888; /* Agregado */
  margin-top: 0.5rem;
}

.delete-button:hover {
  color: #0290ff; /* Ajusta el color para obtener el efecto deseado */
}

.navbar-container,
.book-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* Ajusta los valores para obtener el efecto deseado */
}

span {
  width: 0.125rem;
  height: 1.5rem;
  margin: 0.75rem 1.063rem 0 0.938rem;
  border: solid 1px var(--white-three);
  color: #888;
  opacity: 23%;
}
